		body{
			font-family: 'Molle', cursive;
		}

		.section1{
			float: 	right;
			position: relative;
		
		
			
		}
		
		.dev{
			text-align: center;
			position: relative;
	
		}
		
		.loi{
			text-align: center;
		
		}

		.dip:hover{
			text-align: center;
			background-color: #FFEBCD;
		}
		
		.wh:hover{

			background-color: #FFEBCD;
		}
		
		.bl:hover{
			background-color: blue;
		}

		.r:hover{
			background-color: red;
			text-align: right;
		}
		
		.box{
			box-shadow: 10px 10px black;
		}
		.box2{
			box-shadow:10px 10px 5px 20px gray inset;
		}
		.beweb:hover{
			font-size: 45px;
			margin-bottom: 2cm;
		}
		div:nth-child(odd){
			background-color: purple;
		}
		div:nth-child(even){
			background-color: green;
		}
		
