
		.jenaimar{
		background-color:#F5F5F5;}			


		.font{
		font-family: 'Molle', cursive; color: black; font-size: 35px}


		.fonteu{
		font-family: 'Molle', cursive;font-size: 50px; border-bottom: solid 2px}
