@mixin textposition{
		text-align: center;
		position: relative;
		}	
.dip:hover{
		@include textposition	
		}
		
	body{
			font-family: 'Molle', cursive;
			
		}

	
		
		.loi{
			text-align: center;
		
		}

	
	
